# OS X
.DS_Store

# IntelliJ
.idea/
*.iml
/out/

# Java
*.class
build/
target/

# Database
*.h2.db
*.lock.db
*Db.*/
*.log

# Odisee
.fonts
etc/odiinst
src/webservice/lib
var/user/odisee/document

# install4j
distrib/install4j/output.txt
