.DS_Store
.idea/
atlassian-ide-plugin.xml
*.iml
*.class
*.h2.db
*.lock.db
*Db.*/
*.log
etc/odiinst
src/webservice/lib
lib/*
libexec/tomcat
libexec/ant
libexec/groovy
libexec/grails
libexec/hightide
libexec/tomcat
libexec/Darwin/x86_64
libexec/Linux/i386
libexec/Linux/x86_64
var/
/out/
build/
target/
dist/
test/report/
src/webservice/src/templates/scaffolding
src/webservice/src/templates/testing
src/webservice/src/templates/artifacts
