<?xml version="1.0" encoding="utf-8"?>
<Server address="127.0.0.1" port="8005" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>
    <GlobalNamingResources>
        <!-- Odisee -->
        <Resource name="OdiseeUserDatabase"
                  auth="Container" type="org.apache.catalina.UserDatabase"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                  pathname="conf/odisee-users.xml"/>
    </GlobalNamingResources>
    <Service name="Catalina">
        <Connector address="0.0.0.0" port="8080" redirectPort="8443"
                   protocol="org.apache.coyote.http11.Http11NioProtocol"
                   connectionTimeout="5000"
                   keepAliveTimeout="2500" maxKeepAliveRequests="100"
                   maxConnections="1000" maxThreads="10" minSpareThreads="2"
                   acceptCount="100" acceptorThreadCount="4"
                   maxHttpHeaderSize="1024"
                   compression="on" compressableMimeType="text/html,text/xml,text/plain,text/css,text/javascript,text/json,application/json"
                   xpoweredBy="false" server="Odisee(R) Server"/>
        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="false">
                <!-- /odisee -->
                <Context path="/odisee" docBase="../../odisee/webapp" reloadable="false" crossContext="true">
                    <Realm className="org.apache.catalina.realm.LockOutRealm">
                        <!--
                            MD5 is used when digesting cleartext passwords.
                            * http://tomcat.apache.org/tomcat-7.0-doc/realm-howto.html#Digested_Passwords
                            * https://issues.apache.org/bugzilla/show_bug.cgi?id=52515
                        -->
                        <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="OdiseeUserDatabase" digest="md5"/>
                    </Realm>
                </Context>
            </Host>
        </Engine>
    </Service>
</Server>
